{% extends 'blog_g/base.html' %}
{% load staticfiles %}

{% block title %} Blog Posts {% endblock %}

<!-- Title -->
{% block header %}
    <h2>
        {{ blogpost.title }}
        {% if request.user.is_authenticated %}
            {% if perms.blog_g.can_create_edit_delete_posts %}
                <a href="{% url 'post-update' blogpost.pk %}" class="btn btn-info btn-xs">Edit Post</a> | 
                <a href="" class="btn btn-danger btn-xs">Delete Post</a>
            {% endif %}
        {% endif %}
    </h2> 

    <!-- Author -->
    <p class="lead">
        By <a href="{% url 'author-detail' blogpost.author.pk %}">{{ blogpost.author|capfirst }}</a>
    </p>

    <hr>
{% endblock %}

{% block content %}
	<!-- Blog Post -->	        

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ blogpost.post_date }}</p>

        <hr>

        <!-- Preview Image -->
        <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">

        <hr>-->

        <!-- Post Content -->        
        <p>{{ blogpost.description }}.</p>
        

        <hr>

        <!-- Blog Comments -->
        {% if blogpost.blogcomment_set.all %}
            <div class="label label-success">
                {{ blogpost.blogcomment_set.all.count }} comment{% if blogpost.blogcomment_set.all.count > 1 %}s{% endif %} 
            </div>&nbsp;&nbsp; | &nbsp;&nbsp;
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'post-comment' blogpost.pk %}" class="btn btn-info btn-xs">Add Comment</a> 
        {% else %}
            <a class="btn btn-warning btn-xs" href="{% url 'auth_login'%}?next={{request.path}}">Login to add a new comment</a>
        {% endif %}    

        <hr>

        <!-- Posted Comments -->
        {% if blogpost.blogcomment_set.all %}
            {% for comment in blogpost.blogcomment_set.all %}
                <!-- Comment -->
                <div class="media">
                    <!--<a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>-->
                    <div class="media-body">
                        <h4 class="media-heading">{{ comment.author|capfirst }}
                            <small>{{ comment.post_date|timesince }}</small>
                        </h4>
                        {{ comment.description }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">
                No Blog Comments Yet!
            </div>
        {% endif %}

	<!-- End Blog Post -->    

{% endblock %}