{% extends 'blog_g/base.html' %}
{% load staticfiles %}

{% block content %}
	<!-- Blog Posts -->
                
		<h2>
	        Appliction Development(Python Django), Technology, Software Development And Principles
	    </h2>    
	    
	    <hr>
	    <img class="img-responsive" src="{% static 'blog/img/Django1.png' %}" alt="">
	    <hr>
	    <p>
	    	<h3><strong>Technologies</strong></h3>

			There are two main categories of coding, scripting and programming for creating Web Applications:<br />

			<strong>I. Client Side Scripting / Coding</strong> - Client Side Scripting is the type of code that is executed or interpreted by browsers.

			Client Side Scripting is generally viewable by any visitor to a site (from the view menu click on "View Source" to view the source code).
			Below are some common Client Side Scripting technologies:

				<ul>
					<li>HTML (HyperText Markup Language)</li>
					<li>CSS (Cascading Style Sheets)</li>
					<li>JavaScript</li>
					<li>Ajax (Asynchronous JavaScript and XML)</li>
					<li>jQuery (JavaScript Framework Library - commonly used in Ajax development)</li>
					<li>MooTools (JavaScript Framework Library - commonly used in Ajax development)</li>
					<li>Dojo Toolkit (JavaScript Framework Library - commonly used in Ajax development)</li>
				</ul> 		    

				<br />


			<strong>II. Server Side Scripting / Coding </strong>- Server Side Scripting is the type of code that is executed or interpreted by the web server.

			Server Side Scripting is not viewable or accessible by any visitor or general public.
			Below are the common Server Side Scripting technologies:

				<ul>
					<li>PHP (very common Server Side Scripting language - Linux / Unix based Open Source - free redistribution, usually combines with MySQL database)</li>
					<li>Zend Framework (PHP's Object Oriented Web Application Framework)</li>
					<li>ASP (Microsoft Web Server (IIS) Scripting language)</li>
					<li>ASP.NET (Microsoft's Web Application Framework - successor of ASP)</li>
					<li>ColdFusion (Adobe's Web Application Framework)</li>
					<li>Ruby on Rails (Ruby programming's Web Application Framework - free redistribution)</li>
					<li>Perl (general purpose high-level programming language and Server Side Scripting Language - free redistribution - lost its popularity to PHP)</li>
					<li>Python (general purpose high-level programming language and Server Side Scripting language - free redistribution)</li>
				</ul>	    

	    </p>
	    
	<!-- End Blog Posts -->    

{% endblock %}